table.table-form{
    width: 100%;
}

table.table-form td{
    padding-right: 10px
}

.ng-invalid.ng-dirty{
    border-color: red;
}

.ng-valid.ng-dirty{
    border-color: green;
}

.menuAcoes{
    margin-bottom: 10px;
}

div.alert-container{
    position: fixed;
    top: 75px;
    right: 22px;
    max-width: 300px;
    text-align: right
}
div.alert-container button{
    font-weight: bold;
}

div.alert{
    text-align: left;
    margin: 7px 0px 0px 0px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

div.navbar-header{
	padding-left: 9.5%;
}

#main > div {
	margin: 0px 10%;
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: black;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}


.btn-login {
	background-color: black;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: black;
}
.btn-login:hover{
	color: #fff;
	background-color: #323232;
}

.btn-login:focus {
	color:black;
	background-color: #323232;
}


.btn-register {
	background-color: black;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: black;
}
.btn-register:hover{
	color: #fff;
	background-color: #323232;
}

.btn-register:focus {
	color:black;
	background-color: #323232;
}